<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="nav">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">藥品查詢</a>
            <form class="navbar-form navbar-left" action="query" method="POST">
                <div class="input-group">
                    <input type="text" name="querystring" placeholder="輸入要查詢藥名"
                           class="form-control"> <span class="input-group-btn">
						<button id="submit" type="submit" class="btn btn-success">查詢</button>
					</span> <input type="hidden" name="${_csrf.parameterName}"
                                   value="{_csrf.token}"/>
                </div>
            </form>

            <form class="navbar-form navbar-right" id="logout"
                  action="/logout" method="post">
                <input type="hidden" name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>
                <button id="submit" type="submit" class="btn btn-info">登出</button>
            </form>
        </div>
    </div>

</nav>