<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header"></head>
<nav class="navbar navbar-inverse navbar-fixed-top" th:include="components/nav :: nav"></nav>
<body>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container-fluid" id="main-content">
    <br>
    <div class="jumbotron">
        <h2>請在輸入欄上打入藥品名稱或健保碼以便查藥</h2>
    </div>

</div>

<footer class="footer" th:include="components/footer :: footer"></footer>

</body>
</html>