<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html lang="en">
<head>
    <div th:include="components/header :: header"/>
    <title th:text="'【'+${querystring}+'】列印碼'"/>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" th:include="components/nav :: nav"></nav>
<body>
<div class="container">
    <h2>列印碼：<span th:text="${fileNumber}"/></h2>
    <img width="150" height="150" th:src="'data:text/plain;base64,'+${fileCode}"/>
</div>
<footer class="footer" th:include="components/footer :: footer"></footer>
<script src="https://rawgit.com/cirocosta/qcode-decoder/master/build/qcode-decoder.min.js"></script>
<script>
    var img = document.querySelector('img');
    var canvas = document.createElement('canvas');
    canvas.width = img.width;
    canvas.height = img.height;
    var ctx = canvas.getContext('2d');
    // rotate by 90 deg
    ctx.rotate(Math.PI);
    ctx.translate(-img.width, -img.height);
    ctx.drawImage(img, 0, 0);
    // decode
    QCodeDecoder().decodeFromImage(canvas.toDataURL(), function (err, res) {
        document.body.appendChild(document.createTextNode(res || err))
    });
</script>
</body>
</html>